body {

  font-family: 'Poppins', sans-serif;
  margin: 0px;

}

h1 {
  font-size: 40px;
}

.orange-color {

  color: orange;
}

.flexable-area {

  display: flex;
  margin-bottom: 150px;
  ;

}

.top-banner {

  background: url(./images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.header-container {

  padding-left: 100px;
  width: 50%;
}

.link-button {

  background-image: linear-gradient(orange, blue);
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;


}

.header-image {

  width: 50%;
  padding-right: 50px;
  padding-left: 50px;

}

.header-image img {

  width: 100%;
}

.dream-big {

  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;



}

.experience {

  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.exp-section.header {
  display: block;
  margin-left: 50px;
}

.card {

  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding: 20px 20px;
  border-left: 7px solid red;


}

.card-2 {

  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding: 20px 20px;
  border-left: 7px solid blue;


}

.footer {
  font-weight: bold;
  text-align: center;

}